/* Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    font-family: 'Rubik', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}


* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

p {
    font-size: 1.5rem;
    color: #534b4b;
    cursor: pointer;
}

h1 {
    color: white;
    font-weight: 700;
    letter-spacing: 15px;
}

h3 {
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: italic;
    padding: 1rem;
}

/* Utilidades */

.contenedor{
    max-width: 65rem;
    margin: 0 auto;
}

/* Cambiar a modo iluminado */

.fondo-luz {
    background-image: url(./images/bg-desktop-light.jpg);
    width: 100%;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.luz {
    color: white;
}

.input-blanco {
    width: 100%;
    height: 5rem;
    margin-top: 5rem;
    border-radius: 5px;
    border: none;
    font-size: 2.3rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 5rem;
}

.barra-blanca {
    width: 100%;
    height: 5rem;
    color: white;
    background-color: hsl(0deg 0% 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #8d8d8d;
}

.estilo-luna {
    background-image: url(./images/icon-moon.svg);
    width: 3rem;
    height: 4rem;
    margin-top: 15px;
    background-repeat: no-repeat;
}

/* Main */

.estilo-sol {
    background-image: url(./images/icon-sun.svg);
    width: 3rem;
    height: 4rem;
    margin-top: 15px;
    background-repeat: no-repeat;
}

.fondo-paisaje {
    background-image: url(./images/bg-desktop-dark.jpg);
    width: 100%;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.fondo-solido {
    background-color: hsl(235, 21%, 11%); 
}

.display-todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.estilo-input {
    width: 100%;
    height: 5rem;
    margin-top: 5rem;
    background-color:hsl(232, 28%, 20%);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 2.3rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 5rem;
}

.icono-check {
    width: 23px;
    height: 23px;
    border: 1px solid rgb(154 128 213);
    border-radius: 2rem;
    position: absolute;
    margin-top: 6.4rem;
    margin-left: 2.5rem;
    cursor: pointer;
}

.icono-check:hover {
    border: 1px solid hsl(280, 44%, 25%);
    background: url(./images/icon-check.svg), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-size: 28px;
    background-position: 0px center;
    background-repeat: no-repeat;
    transition: all 0.8s;
}

.background-check {
    border: 1px solid hsl(281, 44%, 35%);
    background: url(./images/icon-check.svg), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-size: 28px;
    background-position: 0px center;
    background-repeat: no-repeat;
    transition: all 0.8s;
}

input {
    text-align: center;
}

.barra {
    width: 100%;
    height: 5rem;
    background-color: hsl(232, 28%, 20%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #555050;
}

.display-barra {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    margin-top: 1.3rem;
    font-style: italic;

}

.display-items {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
}

.display-barra p:hover {
    color: rgb(177, 177, 177);
    transition: all 0.8s;
}

.display-none {
    display: none;
}

/* Cuando creo una actividad */

.todo {
    width: 100%;
    height: 5rem;
    background-color: hsl(232, 28%, 20%);
    border: none;
    text-align: center;
    border-bottom: 1px solid rgb(73 64 64);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo input {
    margin-left: 2rem;
}

.cruz {
    margin-right: 2rem;
    color: #d1d1d1;
    cursor: pointer;
    font-size: 2rem;
}

.parrafo-creado {
    color: white;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-style: italic;
}


.input-creado {
    width: 100%;
    height: 5rem;
    background-color: hsl(232, 28%, 20%);
    border: none;
    text-align: center;
    border-bottom: 1px solid rgb(73 64 64);
}

.icono-creado {
    width: 23px;
    height: 23px;
    border: 1px solid rgb(154 128 213);
    border-radius: 2rem;
    position: absolute;
    margin-top: 1.4rem;
    margin-left: 2.5rem;
    cursor: pointer;
}

.icono-creado:hover {
    border: 1px solid hsl(280, 44%, 25%);
    background: url(./images/icon-check.svg), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-size: 28px;
    background-position: 0px center;
    background-repeat: no-repeat;
    transition: all 0.8s;
}

.display-creado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3-margin {
    margin-left: 7rem;
}

#itemsLeft {
    font-size: 1.5rem;
    color: #534b4b;
    cursor: pointer;
}