/* Globales */

html {
    box-sizing: border-box;
    font-size: 62.5%; 
    font-family: 'Rubik', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}


* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    color: white;
    margin: 1rem;
    font-size: 18px;
}

p {
    font-size: 1.5rem;
    color: #534b4b;
    cursor: pointer;
}

h1 {
    color: white;
    font-weight: 700;
    letter-spacing: 15px;
}


/* Utilidades */

.contenedor{
    max-width: 35rem;
    margin: 0 auto;
}

@media (min-width:768px) {
    .contenedor {
        max-width: 65rem;
        margin: 0 auto;
    }
}


/* Cambiar a modo iluminado */

.fondo-luz {
    background-image: url(./images/bg-desktop-light.jpg);
    width: 100%;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.luz {
    color: white;
}

.input-blanco {
    width: 100%;
    height: 5rem;
    margin-top: 5rem;
    border-radius: 5px;
    border: none;
    font-size: 2.3rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 5rem;
    color: white;
    background: hsl(0deg 0% 0%);
}

.barra-blanca {
    width: 100%;
    height: 5rem;
    color: white;
    background-color: hsl(0deg 0% 0%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #8d8d8d;
}

.estilo-luna {
    background-image: url(./images/icon-moon.svg);
    width: 3rem;
    height: 4rem;
    margin-top: 15px;
    background-repeat: no-repeat;
}

.todo-blanco {
    width: 100%;
    height: 5rem;
    background-color: hsl(0deg 0% 0%);
    border: none;
    text-align: center;
    border-bottom: 1px solid rgb(195 195 195);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo-blanco input {
    margin-left: 2rem;
}

/* Main */

.estilo-sol {
    background-image: url(./images/icon-sun.svg);
    width: 3rem;
    height: 4rem;
    margin-top: 15px;
    background-repeat: no-repeat;
}

.fondo-paisaje {
    background-image: url(./images/bg-desktop-dark.jpg);
    width: 100%;
    height: 40rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.fondo-solido {
    background-color: hsl(235, 21%, 11%); 
}

.display-todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.estilo-input {
    width: 100%;
    height: 5rem;
    margin-top: 5rem;
    background-color:hsl(0deg 0% 0%);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 2.3rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 5rem;
}

input {
    text-align: center;
}

.barra {
    width: 100%;
    height: 7rem;
    background-color: hsl(0deg 0% 0%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #555050;
}

@media (min-width:768px) {
    
.barra {
    width: 100%;
    height: 5rem;
    background-color: hsl(0deg 0% 0%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #555050;
}

}

.display-barra {
    display: flex;
    justify-content: space-around;
    margin-top: 0.3rem;
    font-style: italic;
}

@media (min-width:768px) {
    .display-barra {
        display: flex;
        justify-content: space-around;
        margin-top: 1.3rem;
        font-style: italic;
    }
}

.display-items {
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
}

.display-barra p:hover {
    color: rgb(177, 177, 177);
    transition: all 0.8s;
}

.display-none {
    display: none;
}

.margin-mq {
    margin-right: 1rem;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    height: 8rem;
    width: 100%;
}

@media (min-width:768px) {
    
    footer {
        position: absolute;
        bottom: 0;
        background-color: black;
        height: 5rem;
        width: 100%;
    }
}


.barra-footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.h3-footer { /*ARREGLAR LA FUENTE ITALIC*/
    color: white;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 1rem;
}

/* Cuando creo una actividad */

.todo {
    width: 100%;
    height: 5rem;
    background-color: hsl(0deg 0% 0%);
    border: none;
    text-align: center;
    border-bottom: 1px solid rgb(73 64 64);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo input {
    margin-left: 2rem;
}

.cruz {
    margin-right: 2rem;
    color: #d1d1d1;
    cursor: pointer;
    font-size: 2rem;
}

.parrafo-creado {
    color: white;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 700;
    font-style: italic;
}

.input-creado {
    width: 100%;
    height: 5rem;
    background-color: hsl(0deg 0% 0%);
    border: none;
    text-align: center;
    border-bottom: 1px solid rgb(73 64 64);
}

.display-creado {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h3-margin {
    margin-left: 7rem;
}

@media (min-width:768px) {
    
#itemsLeft {
    font-size: 1.5rem;
    color: #534b4b;
    cursor: pointer;
}

}

#itemsLeft {
    font-size: 1.5rem;
    color: #534b4b;
    cursor: pointer;
    margin-left: 2rem;
}

.parrafo-tachado {
    text-decoration: line-through;
}